.listaP{


 
   scroll-behavior: smooth;

}
.listaP::-webkit-scrollbar {
  display: none;
}

.listaP {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.listaP > div {
  min-width: 250px;
 
  flex-shrink: 60;
}

.botonDerecho {

background-color: rgba(0, 0, 0, 0.863);
  transform: translateY(-50%);
}

body{
font-family: 'Poppins', sans-serif ; 



}

.titulo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.textF{
  font-family: 'Poppins', sans-serif ; 
  font-size: 40px;
  padding-left: 30px;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}